<div class="col-xs-12 col-sm-8 mt-no-padding mt-body-characters" ng-repeat="chacarters in response" ng-if="message == ''">
  <div class="col-xs-6 mt-no-padding">
    <img src="images/characters.png" alt="Characters Icon" class="img-responsive mt-title-img">
    <h1 class="mt-title">Characters</h1>
  </div>
  <div class="col-xs-6">
    <select id="filters" class="pull-right">
      <option value="label">Sort by...</option>
      <option value="Opt1">Option 1</option>
      <option value="Opt2">Option 2</option>
      <option value="Opt3">Option 3</option>
    </select>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12 col-sm-6" ng-repeat="character in chacarters.data.results">
      <div class="col-xs-12 mt-character-info">
        <div class="col-xs-12 mt-no-padding">
          <img src="images/character-image.png" class="col-xs-4 img-responsive mt-character-image" alt="{{character.name}} image">
          <div class="col-xs-8 col-xs-offset-3 mt-no-padding">
            <h2>{{character.name}}</h2>
            <p>{{character.description}}</p>
            <button class="mt-red-btn">View More</button>
          </div>
        </div>
        <div class="col-xs-12 mt-no-padding mt-comics-info">
          <h3 ng-if="character.comics.items.length > 0">Related comics</h3>
          <div class="col-xs-6" ng-repeat="comic in character.comics.items | limitTo:4">
            <p>{{comic.name}}</p>
          </div>
        </div>

      </div>
    </div>

    <!--Pagination-->
    <div class="col-xs-12 text-center">
      <button id="btn-previus" ng-click="changePage((currentPage - 1))" class="mt-pagination-btn"></button>
      {{currentPage}} / {{totalPages}}
      <button id="btn-next" ng-click="changePage((currentPage + 1))" class="mt-pagination-btn"></button>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-8 mt-no-padding mt-body-characters" ng-repeat="chacarters in response" ng-if="message != ''">
  <h1>{{message}}</h1>
</div>


